.about_white .white_row .item{
    padding:20px 45px ;
}
.about_white .white_row{
    margin-bottom: 80px;
}

.footer{
    margin-top: 0px !important;
}

.about_left p strong{
    font-weight: 700;
}
.about_right .text p{
    font-weight: 700;
}
.header .navig ul a:hover{
    position: relative;
    bottom: -2px;
}
.slider_sertificat_index .sert_item{
    transition: 1.2s ease;
}

.slider_sertificat_index .sert_item:hover{
    height: 100%;
    transform: scale(1.1);
    z-index: 10;
    position: absolute;
}
.slider_sertificat_index .slick-slide{
    padding: 0 15px;

}

.slider_sertificat_index .slick-current.slick-active.slick-slide {
    margin-left: 0px;
    display: block;
}
.slider_sertificat_index .slick-active.slick.slick-slide {
    display: block;
}

.slider_sertificat_index .slick-list{
    overflow: visible;
    margin-left: 0px;
}
.slider_sertificat_index .slick-list img{

}
.slider_sertificat .slick-slide{
    transition: 1.2s ease;
    margin-left: 10px;
    margin-right: 10px;

}
.slider_sertificat .slick-slide.slick-current{
    transform: scale(1.2);
}
.our_best .index_best_row .index_best_item{
    transition: 1.2s ease;
}
.our_best .index_best_row .index_best_item:hover{
    background-color: #f17c3a;
}
.our_best .index_best_row .index_best_item:hover .tit{
    color: #171717;
}
.header .navig ul a{
    padding: 28px 0px;
}
