/*-------------------------reset-------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.25;
	background-color: #fff;
	color: #111;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body *{
	box-sizing: border-box;
    font-family: 'Avenir Next Cyr';
    font-weight: 400;
    font-style: normal;
}
.containerR{
	max-width: 1140px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
img{
	max-height: 100%;
	max-width: 100%;
	height: auto;
}
input, button{
	outline: none;
}
a, a:hover, a:focus, a:visited{
	outline: none;
	text-decoration: none;
	color: inherit;
	transition: all 0.3s ease;
}
.h1{
	font-family: 'Gilroy';
	font-weight: 800;
}
/*-------------------------header------------------------*/
.header{
	position: relative;
	background: url(../images/header_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	.containerR{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		-ms-align-items: center;
		align-items: center;
		.logo{
		    padding: 16px 0;
			max-width: 100px;
			a:hover{
				opacity: 0.7;
			}
		}
	}
	.navig{
		ul{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-around;
			.active{
				a{
					border-bottom: 1px solid #f17c3a;
				}
			}
			a{
				font-size: 14px;
				color: #fff;
				display: inline-block;
				margin-right: 30px;
				padding: 26px 0;
				&:hover{
					border-bottom: 1px solid #f17c3a;
				}
			}
		}
	}
	.header_right{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.search{
		background: #404244;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		width: 50px;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover{
			background:#f17c3a;
		}
	}
	.callback{
		margin-left: 10px;
	}
}
.yellow_btn{
	padding: 15px 35px;
	font-size: 16px;
	color: #fff !important;
	background: #f17c3a;
	&:hover{
		color:#f17c3a !important;
		background: #fff;
	}
}
/*-------------------------breadcrumbs------------------------*/
.breadcr{
	margin: 50px 0 38px;
	color: #202121;
	font-size: 14px;
	ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		li{
			padding-right: 13px;
			span{
				padding-right: 10px;
			}
		}
	}
	a{
		color: #46aac0;
		text-decoration: underline;
		&:hover{
			color:#f17c3a;
		}
	}
}
h1, .h1{
	font-size: 60px;
	font-weight: bold;
}
.top_row{
	-ms-align-items: baseline;
	align-items: baseline;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	.download_f{
		color: #f17c3a;
		font-size: 16px;
		span{
			padding-left: 10px;
		}
		&:hover{
			text-decoration: underline;
		}
	}
	span{
		color: #f17c3a;
	}
}
/*-------------------------catalog_row------------------------*/
.catalog_row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 30px;
	padding-bottom: 40px;
	.catalog_item{
		flex-basis: 25%;
		transition: all 0.3s ease;
		height:415px;
		position: relative;
		margin-bottom: 25px;
		&:hover .catalog_item_ins{
			position:absolute;
			transition: all 0.3s ease;
			top: 0;
			left: 0;
			z-index: 9;
			margin-bottom: -50px;
			position: relative;
			.yellow_btn{
				display: block;
			}
		}
	}
	.catalog_item_ins{
		background-color: #fff;
		padding: 35px 30px 30px 35px;
		border-radius: 10px;
		-webkit-box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.75);
		max-width: 265px;
		width: 100%;
		margin: 15px 15px 10px 7px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
		transition: all 0.3s ease;
		
		.catalog_img{
			height: 230px;
			width: 100%;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			justify-content: center;
			margin-bottom: 40px;	
			
		}
		.catalog_name{
			height: 90px;
			overflow: hidden;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			justify-content: baseline;
			width: 100%;
			font-weight: bold;
			font-size: 18px;
			color: #25252d;
		}
		.yellow_btn{
			width: 100%;
		    margin: 15px 0 5px 0;
		    text-align: center;
		    border:1px solid #f17c3a;
		    transition: 0.3s;
		    display: none;
		    transition: all 0.3s ease;
		}
		
	}
}

/*-------------------------footer------------------------*/
.footer{
	.h1{
		margin-top: 50px;
		margin-bottom: 45px;
	}
}
.map_block{
	-webkit-box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.75);
	position: relative;
	.footer_info{
		.contact_f_item{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: flex-start;
			align-items: flex-start;
			.icon{
				max-width: 25px;
				width: 100%;
				margin-right: 32px;
			}
			.detail{
				font-size: 16px;
				color: #1e1e1e;
				margin-top: 5px;
				margin-bottom: 40px;
				a{
					font-weight: bold;
					font-size: 17px;
					&:hover{
						color:#f17c3a;
					}
				}
			}
			
		}
	}
	.yellow_btn{
	    margin-top: 10px;
	    display: inline-block;
	    margin-bottom: 15px;
	    border:1px solid #f17c3a;
	}
}
.footer_info{
	max-width: 410px;
	width: 100%;
	position: absolute;
	top: 11%;
	left: 12%;
	background: #fff;
	padding:45px  60px;
	.footer_info_title{
		color: #1e1e1e;
		font-weight: bold;
		font-size: 33px;
		font-family: 'Gilroy';
		margin-bottom: 30px;
	}
}
.under_line{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	.copyr{
		padding: 25px 0;
	}
	.social{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		a{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			font-size: 12px;
			
			
			padding-right: 20px;
			span{
				margin-right: 10px;
			}
			&:hover{
				color:#f17c3a;
			}
		}
		.inst{
			span{
				margin-top: 6px;
			}
		}
	}
}
/*-------------------------slider_sertificat------------------------*/
.slider_sertificat{
	margin-top: 70px;

	.sert_item{
		-webkit-box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.75);
		margin: 60px 7px 72px;
		outline: none;
		transition: all 0.6s ease;
		&.slick-center{
			transform: scale(1.4);
		}
	}
	.slick-dots li button:before{
		font-size: 7px;
		transition: all 0.3s;
	}
	.slick-dots{
		button{
			transition: all 0.3s ease;
			border-radius: 50%;
			width: 6px;
			height: 6px;
			background: #e0e0e0;
			border: 4px solid #fff;
			&:before{
				display: none;
			}
			&:hover{
				background-color: #f17c3a;
				width: 8px;
				height: 8px;
				border-color: #eaf6ee;
			}
		}
		.slick-active{
			button{
				background-color: #f17c3a;
				width: 8px;
				height: 8px;
				border-color: #eaf6ee;
			}
		}
	}

	.slick-arrow{
		width: 30px;
	    height: 30px;
	    background: #000;
	    position: absolute;
	    top: -100px;
	    right: 0;
	}

}
.navig_slider{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	&:before{
		opacity:0.6;
		content:"";
		width:2px;
		height: 30px;
		background: #fff;
		position: absolute;
		top: 14px;
		left: 75px;
		transition: all 0.3s ease;
	}
	.prev, .next{
		border:1px solid #f17c3a;
		width: 77px;
		height:60px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		background: #f17c3a;
		transition: all 0.3s ease;
		cursor: pointer;
		img{
			max-width: 	10px;
		}
		&:hover{
			opacity: 0.6;
		}
	}
}
/*-------------------------contacts------------------------*/
.contacts_page{
	h1{
		margin-bottom: 50px;
	}
}
.contacts_form{
	background: #45a9c0;
	padding: 40px 0;
	.containerR{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}
	.contacts_form_left{
		max-width: 360px;
		width: 100%;
		color: #fff;
		.cont_title{
			font-size: 24px;
			line-height: 1.4;
			font-weight: bold;
			font-family: 'Gilroy';
			margin-bottom: 15px;
		}
		.cont_sub_title{
			font-size: 15px;
			margin-bottom: 20px;
		}
		.cont_row{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			.text{
				margin-left: 5px;
				width: 100%;
				font-size: 15px;
				font-weight: bold;
				padding-left: 40px;
				padding-top: 7px;
				padding-bottom: 7px;
				background: url(../images/footer_bg_text.png) no-repeat;
				background-position: center;
			}
		}

	}
	.contacts_form_right{
		max-width: 735px;
		width: 100%;
		.contacts_form_row{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
		}
	}
	.contacts_form_row_sbm{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		margin-top: 7px;
		.sbm_btn{
			background: #fff;
			border:1px solid #fff;
			padding: 14px 34px;
			font-weight: bold;
			font-size: 16px;
			color: #f17c3a;
			transition: all 0.3s ease;
			margin-right: 35px;
			&:hover{
				background:#f17c3a;
				color: #fff;
			}
		}
		.polit{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			font-size: 13px;
			color: #fff;
			a{

				text-decoration: underline;
				&:hover{
					text-decoration:none;
				}
			}
			#checkb{
				display: none;
				&:checked + label{
					background-image:url(../images/check.png);
					background-repeat: no-repeat;
					background-position: center;
				}
			}
			.checkb{
				margin-top: 4px;
				label{
					cursor: pointer;
					background-color: #fff;
					border:1px solid #cad6df;
					width: 16px;
					height: 16px;
					margin-right: 5px;
				}
			}
		}
	}

}
.contacts_form_row{
	label{
		position: relative;
		flex-basis: 32.4%;
		&.requared{
			&:before{
				z-index:9;
				content:"*";
				position: absolute;
				top: 5px;
			    right: 7px;
			    font-size: 20px;
				color: #c62828;
			}
		}
	}
}
.input_f{
	font-size: 15px;
	color: #212121;
	background: #fff;
	position: relative;
	padding: 16px 25px;
	width: 100%;
	margin-bottom: 10px;
	outline: none;
	border:none;
	
}
textarea{
	min-height: 80px;
	resize: vertical;
	width: 100% !important;	
}

/*-------------------------single------------------------*/
.single{
	margin-top: 30px;
	margin-bottom: 15px;
	.containerR{
		max-width: 1180px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}
	.single_left{
		max-width: 500px;
		width: 100%;
		.photo_place{
			border-radius: 10px;
			width: 100%;
		    max-width: 460px;
			height:515px;
			-webkit-box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.75);
			box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.75);
			margin: 20px 20px 50px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			-ms-align-items: center;
			align-items: center;
			padding: 30px;
			position: relative;
			img{
				max-height: 465px;
				position: relative;
				bottom: 0;
			}
		}
		.links_place{
			margin: 0 20px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			a{
				color: #fff;
				width: 48%;
				text-align: center;
				border:1px solid #f17c3a;
				&:hover{
					color:#f17c3a;
				}
				&.link_left{
					background: #45a9c0;
					border-color: #45a9c0;
					border-color: #45a9c0;
					&:hover{
						background:#fff;
						color: #45a9c0 !important;
						border-color: #45a9c0;
					}
				}
			}
		}
	}
	.single_right{
		width: 100%;
		max-width: 635px;
		margin-top: 15px;
		.single_det{
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 25px;
			color: #212121;
			text-transform: uppercase;
		}
		li{
			position: relative;
			font-size: 14px;
			color: #212121;
			padding-bottom: 8px;
			padding-left: 18px;
			b{
				font-weight: bold;
			}
			.blu{
				font-weight: bold;
				color: #45aac0;
			}
			&:before{
				width: 5px;
				height: 5px;
				background: #45aac0;
				border-radius: 50%;
				position: absolute;
				content: "";
				top: 5px;
				left: 0;
			}
		}
		.single_ul{
			margin-bottom: 35px;
		}
		.block_for_scroll{
			border: 1px solid #c5c5c5;
			height: 290px;
			overflow-y: scroll;
			padding: 10px;
			img{
				width: 100%;
				margin-bottom: 10px;
			}
			p{
				padding-bottom: 10px;
			}
		}
	}
}

/*-------------------------about------------------------*/
.top_block{
	position: relative;
	padding-bottom: 162px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(../images/bg_top.jpg);
	.header{
		background: transparent;
		border-bottom: 1px solid rgba(255,255,255,0.2);
	}
	h1, .breadcr{
		color: #fff;
	}
}
.about_top_row{
	margin-top: 35px;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	.about_left{
		max-width: 585px;
		width: 100%;
		p{
			font-size: 24px;
			line-height: 1.47;
			b{
				font-weight: bold;
			}
			.yeal{
				font-weight: bold;
				color: #f17c3a;
			}
		}
	}
	.about_right{
		max-width: 460px;
		width: 100%;
		padding-top: 6px;
		.text{
			font-size: 15px;
			font-weight: bold;
			line-height: 1.55;
			margin-bottom: 55px;
		}
		.yellow_btn{
			padding: 15px 50px;
		}
	}
}
.about_white{
	.containerR{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 1180px;
		-ms-align-items: center;
		align-items: center;
	}
	.blu_bg{
		color: #fff;
		background: url(../images/bg_about.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin: 80px 20px 68px 20px;
		font-weight: bold;
		text-align: center;
		width: 365px;
		min-height: 73px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		webkit-box-shadow: 0px 0px 37px -4px rgba(83,164,186,1);
		-moz-box-shadow: 0px 0px 37px -4px rgba(83,164,186,1);
		box-shadow: 0px 0px 37px -4px rgba(83,164,186,1);
	}
	.white_row{
		margin-top: 10px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		.item{

			font-weight: bold;
			font-size: 15px;
			padding: 10px 35px;
			border-right: 1px solid #53a4ba;
			&:last-child{
				border-right: 0;
			}
		}
	}
}
.about_midle{
	position: relative;
	background-image: url(../images/bg_about_midle.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	.midle_left{
		max-width: 910px;
		width: 100%;
		padding: 82px 0 87px;
	}
	.about_title{
		font-weight: bold;
		font-size: 36px;
		margin-bottom: 35px;
	}
	.about_sub{
		padding: 34px 145px 34px 55px;
		font-size: 18px;
		font-weight: bold;
		border: 5px solid #f17c3a;
		margin-bottom: 42px;
		margin-left: -60px;
	}
	.about_text{
		font-size: 18px;
		line-height: 	1.4;
		width: 73%;
		b{
			font-weight: bold;
		}
	}
	.midle_img_pos{
		position: absolute;
		bottom: -5px;
		right: 0;
	}
}

/*-------------------------main------------------------*/
.index_top{
	margin-top: 135px;
	min-height: 300px;
	margin-bottom: 50px;
	.color_index{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 22px;
		color: #f17c3a;
		margin-bottom: 23px;
	}
	.index_title{
		font-weight: 800;
		font-family: 'Gilroy';
		font-size: 60px;
		color: #fff;
		margin-bottom: 25px;
		text-transform: uppercase;
	}
	.index_sub{
		font-weight: 300;
		font-size: 18px;
		color: #fff;
	}
}
.index_about{
	position: relative;
	padding-top: 155px;
	padding-bottom: 66px;
	.containerR{
		min-height: 490px;
		padding-left: 35%;
	}
	.title{
		font-weight: 800;
		font-family: 'Gilroy';
		font-size: 60px;
		margin-bottom: 8px;
	}
	p{
		color: #4d5a64;
		font-size: 18px;
		font-weight: 300;
		padding-bottom: 20px;
	}
	.yellow_btn{
		color: #fff;
	    margin-top: 8px;
	    display: inline-block;
	    font-size: 18px;
	    padding: 17px 64px;
	    border:1px solid #f17c3a;
	    &:hover{
	    	background:#fff;
	    	color: #f17c3a;
	    }
	}
}
.our_best{
	background: #000;
	position: relative;
	padding: 157px 0 184px; 
	.index_best_title{
		color: #fff;
		position: relative;
		z-index: 9;
		font-weight: 800;
		font-family: 'Gilroy';
		font-size: 60px;
		margin-bottom: 50px;
		text-align: center;
	}
	.index_best_row{
		position: relative;
		z-index: 8;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		.index_best_item{
			flex-basis: 32.5%;
			color: #fff;
			background: #171717;
			padding: 35px 40px 30px;
			.tit{
				font-weight: 800;
				font-family: 'Gilroy';
				font-size: 81px;
				color: #f17c3a;
				margin-bottom: 8px;
			}
			.descr{
				font-size: 16px;
			}
		}
	}
}
.Slider_sertif{
	position: relative;
	    padding: 107px 0 132px;
    	margin-bottom: 58px;
	.top_row{
		position: relative;
		z-index: 3;
		margin-bottom: 15px;
		-ms-align-items: center;
		align-items: center;
	}
	.slider_sertificat_index{
		position: relative;
		z-index: 9;
	}
	.sert_item{
		position: relative;
		z-index: 6;
		outline: none;
		margin: 0 10px;
	}
	.h1{
    	margin-bottom: 15px;
		margin-top: 15px;
	}
}
.index_about_absolute{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.img_sert_absolute{
	position: absolute;
	bottom: 0px;
	right: 0;
	z-index: 1;
}
.blue_opacity{
	z-index: 2;
	background-color: #46aac0;
	opacity: 0.7;
	position: absolute;
	
	width: 28%;
	height: 170px;
}
.blue_opacity_about{
	top: 0;
	left: 0;
}
.blue_opacity_left{
	bottom: 0;
	left: 0;
}
.blue_opacity_right{
	bottom: 0;
	right: 0;
	width: 13%;
}

.hamburger{
	display: none;
}
/*-------------------------adaptive------------------------*/

@media screen and (max-width: 1440px) {
	.index_about_absolute{
		left: -11%;
	}
	.about_midle .about_sub {
	    padding: 34px 200px 34px 55px;
	}



}
@media screen and (max-width: 1350px) {
	.h1, h1, .index_top .index_title, .index_about .title, .our_best .index_best_title{
		    font-size: 49px;
	}
	.index_about_absolute {
	    left: -18%;
	}
	.our_best .index_best_row .index_best_item .tit{
		font-size: 70px;
	}
	.about_midle .about_sub{
		margin-left: 0;
	    padding: 34px 20px 34px 25px;
	        max-width: 67%;
	}
	.about_midle .midle_img_pos{
		right: -10%;
	}
	.slider_sertificat{
		max-width: 900px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.slider_sertificat .sert_item.slick-center {
    transform: scale(1.2);
	}
}
@media screen and (max-width: 1180px) {
	.containerR{
		padding: 0 15px;
	}
	.header .navig ul a{
		    margin-right: 16px;
	}
	.top_block{
		padding-bottom: 100px;
	}
	.blue_opacity{
		    height: 135px;
	}
	.index_about_absolute {
	    left: -32%;
	}
	.h1, h1, .index_top .index_title, .index_about .title, .our_best .index_best_title {
	    font-size: 44px;
	}
	.index_about{
		overflow: hidden;
	}
	.our_best{
		padding: 55px 0 184px;
	}
	.our_best .index_best_row .index_best_item .tit {
	    font-size: 60px;
	}
	.footer_info{
		max-width: 380px;
		left: 2%;
		    padding: 35px 30px;
	}
	.about_midle .midle_img_pos {
	    right: -25%;
	}
	.about_midle .about_title{
		font-size: 30px;
		margin-bottom: 18px;
	}
	.about_midle .about_text {
	    font-size: 16px;
	        width: 69%;
	}
	.about_white .blu_bg{
	    margin: 50px 10px 20px;
	    width: auto;
	    min-height: auto;
	    padding: 25px 28px;
	}
	.about_white .containerR{
		justify-content: center;
		padding-bottom: 20px;
	}
	.about_top_row .about_left p{
		font-size: 20px;
	}
	.about_top_row .about_left {
	    max-width: 425px;
	}
	.catalog_row .catalog_item{
		    flex-basis: 33.2%;
		    height: auto;
		    margin-bottom: 0;
	}
	.catalog_row .catalog_item_ins{
	    max-width: 296px;
	}
	.catalog_row .catalog_item_ins .yellow_btn{
		display: block;
	}
	.catalog_row{
		padding-bottom: 0;
	}
	.catalog_row .catalog_item_ins {
	    max-width: 230px;
	    padding: 30px 15px 20px 15px;
	}
	.catalog_row .catalog_item_ins .catalog_img{
	    height: 200px;
	}
	.catalog_row .catalog_item_ins .catalog_name{
		height:auto;
		margin-bottom: 10px;
	}
	.input_f {
    	    padding: 14px 18px;
    	    font-size: 14px;
	}
	.contacts_form .contacts_form_left .cont_row .text{
		    font-size: 14px;
	        padding-left: 36px;
	}
	.cont_title {
	    font-size: 20px;
	}
	.single .single_left {
    	max-width: 450px;
	}
	.single .single_left .photo_place{
		    max-width: 410px;
	}
}
@media screen and (max-width: 980px) {
	.header .navig{
		z-index: 999;
		display: none;
		position: absolute;
		top: 58px;
		left: 0;
		width: 100%;
		background-color: #46aac0;
		ul{
			padding-bottom: 15px;
			text-align: center;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			li a{
				font-size: 15px;
				border-bottom: 0 !important;
			    padding: 13px 0;
				display: block !important;
			}
		}

	}
	.header .navig ul .active a{
		border:0;
		color: #f17c3a;
	}
	.hamburger{
		display: block;
		width: 45px;
	  height: 22px;
	  position: relative;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .5s ease-in-out;
	  -moz-transition: .5s ease-in-out;
	  -o-transition: .5s ease-in-out;
	  transition: .5s ease-in-out;
	  cursor: pointer;
	  span{
	  	display: block;
	  position: absolute;
	  height: 4px;
	  width: 100%;
	  background: #f17c3a;
	  border-radius: 2px;
	  opacity: 1;
	  left: 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
	  }
	}
	.hamburger span:nth-child(1) {
	  top: 0px;
	  -webkit-transform-origin: left center;
	  -moz-transform-origin: left center;
	  -o-transform-origin: left center;
	  transform-origin: left center;
	}

	.hamburger span:nth-child(2) {
	  top: 10px;
	  -webkit-transform-origin: left center;
	  -moz-transform-origin: left center;
	  -o-transform-origin: left center;
	  transform-origin: left center;
	}

	.hamburger span:nth-child(3) {
	  top: 20px;
	  -webkit-transform-origin: left center;
	  -moz-transform-origin: left center;
	  -o-transform-origin: left center;
	  transform-origin: left center;
	}

	.hamburger.open span:nth-child(1) {
	  -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	  top: -5px;
	  left: 7px;
	}

	.hamburger.open span:nth-child(2) {
	  width: 0%;
	  opacity: 0;
	}

	.hamburger.open span:nth-child(3) {
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	  top: 27px;
	  left: 8px;
	}
	.yellow_btn{
	    padding: 10px 15px;
    	font-size: 15px;
	}
	.header .containerR .logo{
		max-width: 90px;
	    padding: 10px 0;
	    img{
	    	max-height: 34px;
	    }
	}
	.h1, h1, .index_top .index_title, .index_about .title, .our_best .index_best_title {
	    font-size: 37px;
	}
	.index_top {
		text-align: center;
	    margin-top: 70px;
	    min-height: auto;
	    margin-bottom: 0;
	}
	.index_top .index_title{
		img{
			max-width: 90px;
			display: block;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.index_top .index_sub{
		padding: 0 5%;
		br{
			display: none;
		}
	}
	.blue_opacity {
    	height: 70px;
	}
	.index_about_absolute {
	    left: -45%;
	}
	.index_about{
	    padding-top: 55px;
    	padding-bottom: 40px;
	}
	.index_about .containerR {
	    min-height: auto;
	    padding-left: 42%;
	}
	.index_about p{
		font-size: 16px;
	}
	.index_about .yellow_btn{
	    font-size: 16px;
    	padding: 12px 40px;
	}
	.our_best .index_best_title{
		margin-bottom: 25px;
	}
	.our_best .index_best_row .index_best_item{
		padding: 15px 15px 30px;
	}
	.our_best .index_best_row .index_best_item .descr {
	    font-size: 15px;
	}
	.our_best {
		background: rgba(0, 0, 0, 0.7);
	    padding: 55px 0 55px;
	}
	.Slider_sertif {
	    padding: 25px 0 45px;
	    margin-bottom: 0;
	    overflow: hidden;
	}
	.img_sert_absolute{
		right: -40%;
	}
	.Slider_sertif .slider_sertificat_index{
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.footer_info{
	   padding: 20px 15px;
	    max-width: 330px;
	    top: 5%;
	}
	.map_iframe{
		iframe{
			height: 400px !important;
		}
	}
	.map_block .footer_info .contact_f_item .icon{
	    max-width: 20px;
	    margin-right: 17px;
	}
	.footer_info .footer_info_title{
	    font-size: 24px;
	}
	.map_block .footer_info .contact_f_item .detail a{
	    font-size: 15px;
	}
	.map_block .footer_info .contact_f_item .detail{
	    margin-bottom: 17px;
	    margin-top: 0;
	}
	.copyr{
		font-size: 13px;
	}
	.about_top_row .about_left, .about_top_row .about_right{
		width: 100%;
		max-width: 100%;
		text-align: center;
		margin: 0 5%;
	}
	.about_top_row .about_right{
		margin: 0 15%;
	}
	.about_white .blu_bg{
		margin: 30px 10px 20px;
	}
	.about_white .white_row .item{
		    padding: 10px 26px;
		}
	.about_midle .about_title{
		    font-size: 25px;
		    img{
		    	max-width: 80px;
		    }
	}
	.about_midle .about_sub{
		    padding: 20px;
		        max-width: 70%;
		    font-size: 16px;
		        border: 2px solid #f17c3a;
		    margin-bottom: 20px;
	}
	.about_midle .about_text {
	    font-size: 15px;
	    width: 59%;
	}
	.about_midle .midle_img_pos{
	    right: -37%;
	}
	.about_midle .midle_left{
		    padding: 40px 0;
	}
	.top_block h1{
		text-align: center;
	}
	.breadcr{
		margin: 20px 0;
	}
	.top_row .download_f, .top_row span{
		font-size: 14px;
	}
	.contacts_form .contacts_form_left .cont_row .text{
		background: none;
	}
	.contacts_form .contacts_form_left .cont_title {
	    font-size: 18px;
	    margin-bottom: 10px;
	}
	.contacts_form .contacts_form_left .cont_row{
		img{
			max-width: 50px;
		}
	}
	.contacts_form .contacts_form_left {
    max-width: 315px;
	}
	.contacts_form .contacts_form_left .cont_row .text{
		padding-left: 10px;
	}
	.contacts_form .contacts_form_row_sbm{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
		justify-content: inherit;
		-ms-align-items: baseline;
		align-items: baseline;
	}
	.contacts_form .contacts_form_row_sbm .sbm_btn{
		    padding: 10px 20px;
		    font-size: 15px;
		    margin-top: 10px;
	}
	.contacts_page h1 {
	    margin-bottom: 29px;
	}
	.slider_sertificat{
		margin-top: 20px;
	}
	.single .single_left {
    	max-width: 325px;
	}
	.single .single_left .photo_place {
	    max-width: 280px;
        height: 310px;
        padding: 15px;
	}
	.single .single_left .photo_place img {
	    max-height: 260px;
	    bottom: 0;
	}
	.single .single_left .links_place a{
		font-size: 14px;
		padding: 10px;
	}
	.single .single_right .single_det{
		font-size: 16px;
		    margin-bottom: 16px;
	}
	.single .single_right li b {
	    font-size: 12px;
	}


}
@media screen and (max-width: 760px) {
	.index_top .color_index{
		font-size: 18px;
	}
	.h1, h1, .index_top .index_title, .index_about .title, .our_best .index_best_title {
	    font-size: 28px;
	}
	.index_top .index_sub{
		font-size: 16px;
	}
	.index_about_absolute{
		display: none;
	}
	.index_about .containerR{
	    padding-left: 15px;
	    .title{
	    	text-align: center;
	    }
	}
	.index_about {
	    padding-top: 35px;
	    padding-bottom: 35px;
	}
	.index_about p {
	    font-size: 15px;
	        padding-bottom: 12px;
	}
	.our_best{
		    padding: 35px 0 40px;
	}
	.our_best .index_best_row{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.our_best .index_best_row .index_best_item{
		flex-basis: 100%;
		margin-bottom: 15px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		    padding: 15px;
	}
	.our_best .index_best_row .index_best_item .tit {
	    font-size: 44px;
	    margin-right: 10px;
	}
	.img_sert_absolute{
		display: none;
	}
	.navig_slider .prev, .navig_slider .next{
	    width: 40px;
	    height: 40px;
	}
	.navig_slider:before{
		top: 5px;
	    left: 40px;
	    width: 1px;
	}
	.Slider_sertif .slider_sertificat_index {
	    max-width: 95%;
	}
	.Slider_sertif{
		padding-bottom: 0;
	}
	.map_block{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.map_iframe iframe {
	    height: 200px !important;
	}
	.footer .h1{
		margin-bottom: 20px;
	}
	.footer_info{
		position: relative;
		top: 0;
		left: 0;
	}
	.under_line{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		padding: 20px 0 10px 0;
	}
	.under_line .copyr{
		    padding: 0 0 10px 0;
	}
	.footer_info{
		max-width: 100%;
		background-color: #46aac063;
	}
	.map_block .footer_info .contact_f_item .detail{
	    margin-bottom: 10px;
	}
	.about_top_row .about_left p {
	    font-size: 16px;
	}
	.about_top_row .about_right .text {
	    font-size: 14px;
	    margin-bottom: 40px;
	}
	.about_top_row {
	    margin-top: 25px;
	}
	.about_top_row .about_right .yellow_btn {
	    padding: 10px 30px;
	}
	.about_white .blu_bg{
		    padding: 16px 20px;
		    font-size: 14px;
	}
	.about_white .white_row .item{
		font-size: 14px;
	}
	.about_midle .midle_img_pos{
		display: none;
	}
	.about_midle .about_title {
	    font-size: 22px;
	}
	.about_midle .about_sub{
		padding: 15px;
	    max-width: 100%;
	    font-size: 15px;
	}
	.about_midle .about_text{
		width: 100%;
		text-align: center;
	}
	.top_block {
	    padding-bottom: 60px;
	}
	.catalog_row{
		justify-content: space-around;
	}
	.catalog_row .catalog_item{
		flex-basis: 47%;
		margin-bottom: 20px;
	}
	.catalog_row .catalog_item_ins {
    	max-width: 100%;
    	margin: 0;
	}
	.catalog_row .catalog_item_ins .catalog_name{
		font-size: 16px;
	}
	.contacts_form .contacts_form_left{
		max-width: 100%;
	}
	.contacts_form .containerR{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.contacts_form{
		padding: 30px 0;
	}
	.contacts_form .contacts_form_row_sbm .sbm_btn{
		font-size: 14px;
	}
	.contacts_form .contacts_form_row_sbm{
		margin-top: 0;
	}
	.input_f {
	    padding: 10px 10px;
	    font-size: 13px;
	}
	.contacts_form .contacts_form_left .cont_title{
		text-align: center;
		br{
			display: none;
		}
	}
	.contacts_form .contacts_form_left .cont_sub_title{
		text-align: center;
		margin-bottom: 16px;
	}
	.contacts_form .contacts_form_left .cont_row{
		margin-bottom: 10px;
		justify-content: center;
	}
	.contacts_form .contacts_form_left .cont_row .text{
		width: auto;
	}
	.slider_sertificat .sert_item.slick-center {
    	transform: scale(1);
	}
	.slick-dots{
		    bottom: 0 !important;
	}
	.slider_sertificat .sert_item{
		    margin: 15px 7px 48px;
	}
	.footer .h1 {
    	margin-top: 30px;
	}
	.single .containerR{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.single {
    	margin-top: 10px;
	}
	.single .single_left{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 460px) {

	.header .containerR .logo img {
	    max-height: 26px;
	}

	.yellow_btn{
		font-size: 13px;
	}
	.hamburger{
	    width: 35px;
	}
	.hamburger.open span:nth-child(1){
		top: -3px;
	    left: 4px;
	}
	.hamburger.open span:nth-child(3){
		top: 22px;
	    left: 4px;
	}
	.header .navig{
	    top: 50px;
	}
	.h1, h1, .index_top .index_title, .index_about .title, .our_best .index_best_title {
	    font-size: 23px;
	}
	.index_top .color_index {
	    font-size: 17px;
	}
	.blue_opacity {
	    height: 60px;
	}
	.index_about .yellow_btn{
	    font-size: 15px;
	    padding: 11px 10px;
	    width: 135px;
	    display: block;
	}
	.our_best .index_best_row .index_best_item .descr {
	    font-size: 14px;
	}
	.Slider_sertif .slider_sertificat_index {
	    max-width: 300px;
	}
	.footer_info .footer_info_title {
	    font-size: 20px;
	}
	.under_line .copyr{
		text-align: center;
	}
	.about_midle .about_sub{
		font-size: 14px;
	}
	.about_top_row .about_right {
	    margin: 0 10%;
	}
	.catalog_row .catalog_item_ins .catalog_img {
	    height: 140px;
	}
	.footer .h1 {
    	margin-top: 12px;
	}
	.catalog_row .catalog_item_ins .catalog_name {
	    font-size: 14px;
	}
}
@media screen and (max-width: 400px) {
	.yellow_btn {
	    font-size: 12px;
	    padding: 8px 10px;
	}
	.containerR {
	    padding: 0 10px;
	}
	.header .callback {
	    margin-left: 0px;
	}
	.header .search{
	    width: 30px;
	    img{
	    	max-width: 15px;
	    }
	}
	.header .containerR .logo img {
	    max-height: 23px;
	}
	.header .containerR .logo {
	    max-width: 60px;
	    padding: 11px 0;
	}
	.header .navig ul li a{
	    font-size: 14px;
	    padding: 10px 0;
	}
	.index_top{
		margin-top: 50px;
	}
	.index_top .color_index {
	    font-size: 16px;
	}
	.h1, h1, .index_top .index_title, .index_about .title, .our_best .index_best_title {
	    font-size: 21px;
	}
	.index_top .index_sub {
	    font-size: 15px;
	}
	.top_block {
	    padding-bottom: 75px;
	}
	.index_about p {
	    font-size: 14px;
	}
	.index_about .yellow_btn {
	    font-size: 15px;
	    padding: 11px 10px;
	    width: 135px;
	    display: block;
	    text-align: center;
	    margin-left: auto;
	    margin-right: auto;
	}
	.our_best .index_best_row .index_best_item .tit {
	    font-size: 36px;
	}
	.our_best {
	    padding: 35px 0 20px;
	}
	.Slider_sertif .slider_sertificat_index {
	    max-width: 250px;
	}
	.footer_info {
	    padding: 20px 15px 4px;
	}
	.map_block .footer_info .contact_f_item .detail{
		font-size: 14px;
	}
	.map_block .footer_info .contact_f_item .detail a {
	    font-size: 14px;
	}
	.under_line{
		padding: 20px 0 10px 0;
	}
	.about_top_row .about_left, .about_top_row .about_right  {
	    margin: 0 0%;
	}
	.about_top_row .about_left p {
	    font-size: 14px;
	}
	.about_top_row .about_right .text, .about_white .blu_bg{
		font-size: 13px;
	}
	.top_block {
	    padding-bottom: 55px;
	}
	.about_white .white_row .item{
		font-size: 13px;
		border-right: 0;
		text-align: center;
		    border-bottom: 1px solid #53a4ba;
		    &:last-child{
		    	border-bottom: 0;
		    }
	}
	.about_white .white_row{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.about_midle .about_title {
	    font-size: 19px;
	    text-align: center;
	    img{
	    	margin-top: 5px;
	    	display: block;
	    	margin-left: auto;
	    	margin-right: auto;
	    }
	}
	.about_midle .about_text {
	    font-size: 14px;
	}
	.catalog_row .catalog_item {
    	flex-basis: 76%;
	}
	.header .navig {
	    top: 49px;
	}
	.contacts_form .contacts_form_right .contacts_form_row{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.contacts_form_row label{
		flex-basis: 100%;
	}
	.single .single_right .block_for_scroll p{
		font-size: 14px;
	}
	.single .single_right .block_for_scroll{
	    height: 190px;
	    margin-bottom: 10px;
	}
	.single .single_right .single_det {
    	font-size: 14px;
	}
	.single .single_right .single_ul {
    	margin-bottom: 15px;
	}
	.links_place{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.single .single_left .links_place a.link_left{
		margin-bottom: 10px;
	}
	.single .single_left .links_place a{
		width: 100%;
	}
	.single .single_left .photo_place{
	    max-width: 255px;
        height: 280px;
	}
	.single .single_left .photo_place img {
    	max-height: 255px;
	}
}

